*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,.7), rgba(4,9,30,10.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 130px;
    height: 90px;
}

.buttons{
    flex: 1;
    text-align: right;
}

.buttons ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.buttons ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.buttons ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.4s;
}

.buttons ul li:hover::after{
    width: 100%;
}

.experienceSec{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
}

.experienceSec h1{
    font-size: 35px;
}

.experienceSec p{
    font-size: 20px;
}

.experience-col h2 {
    font-size: 20px;
    padding-top: 20px;
    display: block;
    text-align: center;
    line-height: 1;
}

.experience-col:nth-child(2) h2{
    color: black;
    font-size: 22px;
    line-height: 0.96;
    text-shadow: 0px 1.5px 2px white;
}

.experience-col:nth-child(4) h2{
    color: black;
    font-size: 22px;
    line-height: 0.96;
    text-shadow: 0px 1.5px 2px white;
}

.experienceDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
} 

.experience-col{
    width: 300px;
    height: 480px;
    margin: 10px;
    border-radius: 10px;
    background: url(/images/jb.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: 0.5s;
    flex: 1;
    overflow: hidden;
    margin: 0 .9%;
    box-shadow: 0px 0px 0px #ccc;
}

.experience-col:nth-child(2){
    background: url(images/apple.jpg);
    background-size: cover;
    background-position: center;
}

.experience-col:nth-child(3){
    background: url(images/dij.jpg);
    background-size: cover;
    background-position: center;
}

.experience-col:nth-child(4){
    background: url(images/tutoring.jpg);
    background-size: cover;
    background-position: center;
}

.experience-col img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: 1.5%;
}

.text-box{
    position: absolute;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.578);
    /* padding: 10px; */
    height: 200px;
    width: 100%;
    top: 250px;
}

.experience-col:hover .text-box{
    opacity: 1;
    transition: 1s;
}

.experience-col h3{
    font-size: 30px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.experience-col:hover{
    flex: 1 1 50%;
}

.experience-col:hover img{
    width: 100%;
}

.experience-col:hover h3{
    opacity: 1;
    bottom: 25px;
}